*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body{
    height: 100%;
    width: 100%;
}

#main{height: 100%;
    width: 100%;
    background-color: black;
    overflow: hidden;

}

.part1, .part2 , .part3{
    height: 100vh;
    width: 100%;
}

h1{
    color: beige;
    font-size: 15vw;
}
.strip{
    width: 300%;
    transition: cubic-bezier(0.19, 1, 0.22, 1)5s;

}

.strip:nth-child(2n){
    margin-left: -100% ;
}

h1 span{
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}

h2{
    color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50vh;
}